!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
	%head
		%title Cropify
		= partial "partials/head", :locals => locals
	%body
		= yield
		= partial "partials/vcard", :locals => locals
		= partial "partials/analytics", :locals => locals
		= partial "partials/footer", :locals => locals